.new-entry-button {
  height: 68px;
  width: 787px;
  border-radius: 16px;
  background: rgba(68, 66, 192, 1);
  color: white;
  border: 0;
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
  cursor: pointer;
  left: 50%;
}

.new-entry-button:hover {
  background: rgb(56, 54, 165);
}

.new-entry-button:active {
  background: rgb(50, 48, 149);
}
