* {
    margin: 0em;
    padding: 0em; 
}
.bar {
    height: 79px;
    width: 100%;
    background-color:#4442C0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0;
}

#Logo:hover{
    cursor: pointer;
}