.entry-component {
  height: 110px;
  width: 787px;
  border-radius: 16px;
  background: rgba(244, 243, 255, 1);
  display: flex;
  align-items: center;
}

/* To add horizontal padding in text of the component */
.inner-padding {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 42px;
}

.entry-component:hover {
  background: rgba(230, 229, 255, 1);
}

/* div wrapping the two text elements */
.entry-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.entry-label {
  font-size: 26px;
  font-weight: 700;
  line-height: 35px;
}

.date-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(68, 66, 192, 1);
}

/* Don't show delete button if not hovering */
.delete-entry {
  display: none;
  cursor: pointer;
}

/* If entry is hovered on, show delete icon */
.entry-component:hover .delete-entry {
  display: block;
  width: fit-content;
  height: fit-content;
}
