main {
  text-align: center;
}

form {
  display: inline-block;
}

#entry_table {
  margin-top: 10%;
  width: 100%;
}

#entry_table td {
  padding: 3%;
}

.submit_button {
  display: inline-block;
  font-size: 14px;
  margin: 4px 20px 12px;
  cursor: pointer;
}

.cancel_button {
  display: inline-block;
  font-size: 14px;
  margin: 4px 20px 12px;
  cursor: pointer;
}

tr:hover {
  color: blue;
}

.submit_button:hover,
.cancel_button:hover {
  background-color: blue;
  color: white;
}

#title:hover {
  color: blue;
}

textarea {
  width: 350px;
  height: 150px;
}

th,
td {
  text-align: left;
}