*{
  font-family: 'Nunito', Helvetica, sans-serif;
}
main{
  display: flex;
  flex-direction: column;
}
h2{
  color: black;
  font-size: 2em;
  font-weight: bold;
  align-self: center;
}
h3{
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-left: 30%;
}
h4{
  color: blue;
  font-size: 1.75em;
  padding-top: 0.75%;
  margin-left: 30%;
  font-style: italic;
  height: 2vw;
}
input{
  border-color: #9795DC;
  width: 40%;
  height: 2vw;
  margin-top: 0.5%;
  border-radius: 0.7vw;
  color: #9795DC;
  font-size: 1.75em;
  padding-left: 1% ;
  border: solid;
}
#main_flexbox{
  order: 1;
  margin: 9em;
  display: flex;
  flex-direction: column;
}
#intensity_input{
  width: 10%;
}
#time_flexbox{
  display: flex;
  flex-direction: row;
  margin-left: 28%;
  gap: 10.4%;
}
#navbar{
  order: 0;
}
#top_flexbox{
  display: flex;
  flex-direction: column;
}
#edit_button{
  width: 20px;
  height: 20px;
}
.main_flexbox_child{
  padding-top: 3em;
}
.time_flexbox_value{
  margin: 0;
}
.time_input{
  margin-top: 5%;
}
.time_title{
  width: 100%;
}